TF - IS - Aula 10 - AWS, EC2 e VPC
Objetivo

Nesta atividade, o aluno deverá consumir a API de listagem de companies do HubSpot e salvar os registros em um bucket S3 da AWS.

Documentação da API:

https://developers.hubspot.com/docs/api-reference/legacy/crm/objects/companies/get-companies






Projeto base

Baixar o projeto:

https://github.com/luan-tavares/unifaat-2026-is-bimestre01

A atividade deverá ser realizada no arquivo:

./app/Commands/S3/S3HubspotTf10Command.js



Dica importante
Para consumir a api do S3 AWS Client no node, se baseie no arquvo ./app/Commands/S3/S3Command.js








Atividade

A aplicação deverá consumir a API de list de companies do HubSpot, obter todas as companies criadas no TF passado, iterar todos os registros retornados, obter o JSON completo de cada company e salvar cada JSON no bucket:

s3://unifaat-teste




Organização dos arquivos

Para evitar conflito entre alunos, cada arquivo deverá ser salvo no formato:

[RA]/[id_company].json

Exemplo:

123456/987654321.json

O diretório com o RA será criado automaticamente no S3.









Chaves de acesso

As chaves pública e privada da AWS estão no material de apoio da Aula 10 e devem ser configuradas no arquivo .env.

A chave da API do HubSpot é a mesma utilizada na aula anterior.

Todas devem ser inseridos em ./env, após sua criação.


